.upload-screen {
  /* background: red; */
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 95vh;
  top: 5vh;
  height: 100vh;

  z-index: 99;
  max-width: 500px;
}

.slider {
  position: relative;
  top: 10vh;
  margin: auto;
  width: 75%;
}

.container-buttons {
  /* background: red; */
  position: absolute;
  top: 70vh;
  height: 30%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.container-buttons Button {
  margin: auto;
  width: 6.5rem;
  text-align: center;
}

.clear-container {
  position: relative;

  left: 85%;
}
.clear-icon {
  color: white;
  z-index: 100;
}

.clear-icon:hover {
  background: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}
