.upload-container {
  height: 80vh;
  width: 100vw;
}

.container-cropper {
  position: relative;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropper {
  height: 100%;
}

.slider {
  position: relative;
  top: 45vh;
  height: 10%;
  display: flex;
  align-items: baseline;
  margin: auto;
  width: 50%;
}

.container-buttons {
  border: 1px solid #f5f5f5;
  position: relative;
  top: 55px;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-buttons Button {
  margin-left: 15px;
  width: 100px;
}
