.upload-screen {
  background: red;
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 7vh;
  height: 95vh;
  z-index: 99;
  width: 100vw;
  max-width: 500px;
}

.slider {
  position: relative;
  top: 5vh;
  margin: auto;
  width: 75%;
}

.container-buttons {
  position: relative;
  top: 70vh;
  height: 10%;
  display: flex;
  align-content: center;
}

.container-buttons Button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 6.5rem;
}

.clear-container {
  background: green;
  position: absolute;
  top: 1vh;
  left: 85%;
}
.clear-icon {
  color: white;
  z-index: 100;
}

.clear-icon:hover {
  background: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
}
