.bikepage-container {
  background: #ddd;
  margin: 1rem auto;
  height: 100%;
  width: 90%;
  max-width: 500px;
  border-radius: 2rem;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.bikepage-image {
  object-fit: cover;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 0rem;
}

.bikepage-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.bikepage-item {
  text-transform: capitalize;
  margin-left: 1rem;
}

.bikepage-item .label {
  background: black;
  color: white;
  padding: 0.3rem;
  font-weight: 500;
  margin-right: 0.7rem;
  border-radius: 8px;
}

.bikepage-item {
  width: 100%;
  padding: 0.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.bikepage-item.found {
  margin-left: 0rem;
  background: linear-gradient(90deg, rgb(231, 171, 66) 10%, #000 130%);
}

.bikepage-item.lost {
  margin-left: 0rem;
  background: linear-gradient(90deg, rgb(73, 168, 226) 35%, #000 130%);
}

.bikepage-item.found .label,
.bikepage-item.lost .label {
  margin-left: 0.5rem;
}

.bikepage-item p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 90%;
}

.bikepage-container .btn {
  width: 90%;
}
