.section-center {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 5vh;
  max-width: 2060px;
  display: grid;
  gap: 2rem;
  justify-items: center;
}

.bike-item {
  position: relative;
  background: white;
  width: 20rem;
  height: 15rem;
  border-radius: 15px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.5);
}

.bike-card-status {
  z-index: 0;
  background: #ddd;
  height: 1.75rem;
  border-radius: 15px 15px 0 0;
  padding: 5px 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.bike-card-image {
  object-fit: cover;
  width: 20rem;
  transition: all 0.4s;
}

.bike-card-image:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.bike-info header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-top: -2px;
  background: #ddd;
  text-transform: capitalize;
}

.bike-info {
  width: 100%;
  margin-bottom: 0.5rem;
}

.bike-description {
  position: relative;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  /* margin-bottom: 0; */
  height: inherit;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0 0 15px 15px;
  text-transform: capitalize;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.bike-item:hover .bike-info .bike-description {
  display: block;
}

@media screen and (min-width: 350px) {
  .section-center {
    width: 90vw;
  }
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .section-center {
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
