.bike-card {
  height: 300px;
  width: 20rem;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.bike-card.Lost {
  background: red;
}

.bike-card.Found {
  background: green;
}

.bike-card-top img {
  border-radius: 15px 15px 0 0;
  height: 200px;
  width: 20rem;
}

.bike-card-body {
  color: white;
  padding: 10px 16px;
}
