@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background: #000; */
  line-height: 1.4;
  letter-spacing: 0.03em;
  font-size: 12px;
  /* color: white; */
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* ===================================================================== */
/* =============<<< Navigation Bar >>>================================== */
/* ===================================================================== */

header,
main {
  width: 100%;
}

header {
  /* background: red; */
  height: 50px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: flex-start;
}

main {
  flex-grow: 1;
  background: linear-gradient(135deg, #edd4da, #d6e9ef);
  color: #000;
}

h1 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 12px;
}

ion-icon {
  margin-right: 0.5rem;
}

.flexCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.search-bar.flexCenter {
  flex-grow: 0.5;
  justify-content: center;
}

.title {
  padding: 1em;
  /* flex-grow: 1; */
  justify-content: flex-start;
}

.title .logo-text {
  margin-left: 0.5rem;
}

.nav {
  padding-top: 40px;
}

.menu-icon {
  justify-content: center;
  color: black;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: calc(100% - 50px);
}

.menu-icon ion-icon {
  margin-right: 0rem;
}

.menu {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 0px;
  background: white;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: auto;
}

.menu-icon:focus + .menu,
.menu:hover {
  visibility: visible;
}

.menuItem {
  position: relative;
  width: 150px;
  padding: 0.5em 1em;
  outline: none;
  margin-bottom: 0.5rem;
  background: #fff;
  transition: background 0.3s ease-in-out;
}

.subMenu {
  position: absolute;
  width: 150px;
  visibility: hidden;
  top: 0%;
  left: -100%;
  background: white;
  color: #000;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.subItem {
  position: relative;
  width: 100%;
  min-width: 100px;
  padding: 0.5em 1.5em;
  outline: none;
  margin-bottom: 0.5rem;
  transition: background 0.3s ease-in-out;
}

.menu-icon:hover,
.menu-icon:focus,
.menuItem:hover,
.menuItem:focus,
.subItem:hover,
.subItem:focus,
.subItem:focus-within {
  background: #000;
  color: #fff;
}

.subItem:hover > a,
.subItem:focus > a,
a:focus {
  font-size: 100%;
  color: white;
}

.menuItem:hover > .subMenu,
.menuItem:focus > .subMenu,
.menuItem:focus-within > .subMenu,
.subItem:hover > .subMenu,
.subItem:focus > .subMenu,
.subItem:focus-within > .subMenu {
  visibility: visible;
}
/* ================================================================== */
/* ============<<< Registration >>>================================== */
/* ================================================================== */

section {
  width: 95vw;
  max-width: 420px;
  padding: 1.5rem;
  background: rgb(232, 238, 247);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.form-group label {
  display: flex;
}

.hide {
  display: none;
}

.valid ion-icon {
  --ionicon-stroke-width: 48px;
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.hints {
  font-size: 1rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -5px;
}

.offscreen {
  position: absolute;
  margin-left: -300%;
}

span,
.input-check {
  display: flex;
}

/* 


.form__title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 200;
}

.btn {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
} */

/* .btn .btn-primary:disabled {
  background-color: rgba(0, 0, 0, 0.1);
} */

/* .btn-primary {
  background: linear-gradient(135deg, #68a1c4, #1b556f);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
  background: linear-gradient(-135deg, #80b6d1, #1b556f);
} */
