@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1;
  font-size: 1rem;
  min-height: 100vh;
  background: linear-gradient(135deg, #d8e0e4, #1b556f);
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 90%;
  height: 1px;
  margin: 0.5rem auto;
  background: rgba(200, 200, 200, 0.8);
  border: none;
}

.active {
  color: red;
}

.form-group,
.form-group label,
.form-group input,
.form-group textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label,
.form-group textarea {
  font-size: 1rem;
  margin-left: 0.1rem;
}

.form-group input,
.form-group textarea,
.form-group .select {
  padding: 0.5rem 0.8rem;
  margin-top: 0.3rem;
  border: 1px solid #bbb;
  border-radius: 25px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  background-color: #fff;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.btn {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: linear-gradient(135deg, #68a1c4, #1b556f);
  color: #fff;
}

.btn:hover {
  background: linear-gradient(-135deg, #80b6d1, #1b556f);
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: rgba(224, 30, 30, 0.9);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: rgba(0, 255, 0, 0.9);
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
  opacity: 80%;
}
